<div class="midDiv">
  <h2>Register</h2>
</div>
<div class="row">
  <div class="col-5"></div>
  <div class="col-7">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

      <div *ngFor="let field of formFields" class="row">
        <br>
        <label class="col-2 align-self-center" for={{field.id}}>{{field.label}}</label>
        <input class="mt-1 " type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'  && field.id != 'password'">
        <input class="mt-1" type="password" name={{field.id}} ngModel *ngIf="field.id=='password'">
        <input class="mt-1" type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
        <input class="mt-1" type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
        <!--<select class="mt-1" name="{{field.id}}" multiple ngModel *ngIf="field.type.name=='enum'">
        <option *ngFor="let category of categories" value={{category.id}}>
          {{category.name}}
        </option>
      </select>-->

        <div class="list-group mt-1" style="max-height: 200px; overflow-y: scroll; width: 170px" *ngIf="field.type.name=='enum'">
          <div *ngFor="let category of categories" class="list-group-item">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name={{field.id}} [(ngModel)]="category.isChecked"
                [ngModelOptions]="{standalone: true}">
              <label class="form-check-label">{{category.name}}</label>
            </div>
          </div>
        </div>
      </div>

<input type="submit">
    </form>
    <div class="ml-5 pl-5">
      
    </div>
  </div>
</div>